* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.negrito {
  font-weight: bold;
}

.imgbarra {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.imgbarra img {

  flex: 1;
  object-fit: cover;
  height: 100%; 
  min-width: 0;
  max-width: 100%;
}



/* ==barra navegacao== */

.cabecalhologo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0;

}

.logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.navegacao {
  margin-top: -10px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 4px;

}

.navmenu {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navmenu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navmenu li a:hover {
  color: #dceeff;
}

.perfillink {
  margin-left: auto;
  padding-left: 20px;
}

.perfilicone {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

/* ===== FAQ ===== */
header
{
  background-color: #005A9C;
  color: white;
  text-align: center;
  padding: 20px 16px 10px 16px;
  border-bottom: 2px solid #ccc;
}
header h1{
  margin-top: 10px;
  margin-bottom: 0;
}


footer {
  background-color: #005A9C;
  color: white;
  text-align: center;
  padding: 20px;
}

.mfaq,
.mcontato,
.mindex {
  width: 100%;
  padding: 32px;
  max-width: 800px;
  margin: auto;
}

.pfaqintro {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.sfaqintro {
  margin-bottom: 32px;
  font-size: 16px;
}

.sfaqperguntas h2 {
  margin-bottom: 16px;
  color: #005A9C;
}

.sfaqperguntas article {
  background-color: #fcfcfc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.sfaqperguntas article h3 {
  margin-bottom: 9px;
}

/* ===== INTEGRANTES ===== */

.mintegrantes .sintegrantes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

.integrantes {
  background-color: #fcfcfc;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  flex: 1 1 280px;
  max-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotos {
  width: 180px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}

.informacoesintegrantes {
  margin-top: 10px;
}

.informacoesintegrantes p {
  margin: 4px 0;
}

.informacoesintegrantes a {
  color: #0D99FF;
  text-decoration: none;
}

.informacoesintegrantes a:hover {
  text-decoration: underline;
}

/* ===== CONTATO ===== */


.avisoimportante {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  font-weight: bold;
}

.iconewhats {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 8px;
}

.whatsapp {
  display: block;
  background-color: #25D366;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 auto 24px auto;
  max-width: 400px;
}

.whatsapp:hover {
  background-color: #1ebc5b;
}

.iconecontato {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.scontatointro p{
  font-weight: bold;
}

.scontatointro {
  text-align: center;
  margin-bottom: 24px;
  font-size: 16px;
}

.scontato h2 {
  color: #005A9C;
  margin-bottom: 16px;
}

.scontato article {
  background-color: #fcfcfc;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
}

/* ===index=== */

#botaomostrar {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  background-color: #0D99FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.formulariocadastro h2 {
  color: #005A9C;
  font-weight: bold;
  font-size: 24px;
}

.formulariocadastro form {
  display: flex;
  flex-direction: column;
}

.formulariocadastro label {
  margin-top: 12px;
  font-weight: 600;
  color: #333;
}

.formulariocadastro input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-top: 4px;
  font-size: 15px;;
}

.endereco {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: grid;
}

.endereco legend {
  font-weight: bold;
  color: #005A9C;
  margin-bottom: 10px;
}

.consentimentobox {
  margin-top: 20px;
  font-size: 14px;
}

.consentimentobox input[type="checkbox"] {
  margin-right: 8px;
}

.consentimentobox a {
  color: #0D99FF;
  text-decoration: none;
}

.consentimentobox a:hover {
  text-decoration: underline;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #0D99FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #007cd8;
}

/* ==chatbot botao=== */

.chatbotbotao {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 100px;
  height: 100px;
}

.chatbotimagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chatbotimagem:hover {
  transform: scale(1.1);
}

/* ==chatbot== */

.mchatbot {
  width: 100%;          
  max-width: 800px;     
  margin: auto;    
  padding: 32px 16px 80px;
}


#chat {
  max-width: 800px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  height: 300px;
  margin-bottom: 16px;
}

#entrada {
  width: 100%;
  padding: 12px 44px 12px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.entradacontainer {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
  width: 100%; 
  box-sizing: border-box;
}

.inputmicrofone {
  position: relative;
  display: flex;
  align-items: center;
}

.iconemicrofone {
  position: absolute;
  right: 12px;
  width: 28px;
  height: 28px;
}

.entradacontainer button {
  background-color: #0D99FF;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 6px;
  align-self: flex-end;
  max-width: 160px;
}

.entradacontainer button:hover {
  background-color: #007cd8;
}


/* ==consentimento=== */
.mconsentimento {
  width: 100%;
  padding: 32px;
  max-width: 800px;
  margin: auto;
}

.termos{
  width: 100%;
  max-width: 800px;
  margin: 60px auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: 16px;
  padding: 40px 20px;
}


.termos h2 {
  color: #005A9C;
  margin-bottom: 20px;
}

.termos h3 {
  margin-top: 24px;
  color: #005A9C;
}

.termos p {
  margin-top: 10px;
  text-align: justify;
}

/* Botão de aceitar */
.botaoconsentimento {
  margin-top: 30px;
  text-align: center;
}

.botaoaceitar {
  display: inline-block;
  background-color: #0D99FF;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.botaoaceitar:hover {
  background-color: #007cd8;
}

/* ==alerta== */

.alerta {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffe5e5;
  border-radius: 16px;
  min-height: 300px;

}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.botaosim {
  background-color: #25D366;
  color: white;
  padding: 15px 30px; 
  font-size: 40px; 
  border: none;
  border-radius: 10px;
  min-width: 180px;
  font-weight: bold;
}

.botaosim:hover {
  background-color: #1eba57;
}

.botaonao {
  background-color: #cc0000;
  color: white;
  padding: 15px 30px; 
  font-size: 40px; 
  border: none;
  border-radius: 10px;
  min-width: 180px;
  font-weight: bold;
}

.botaonao:hover {
  background-color: #a80000;
}


/* ==sos - alerta=== */
.msos,
.malerta {
  width: 100%;          
  max-width: 800px;     
  margin: 0 auto;    
  padding: 32px 16px 80px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

.sos {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  background-color: #ffe5e5;
  border-radius: 16px;
}

.sos h2,
.alerta h2 {
  font-size: 35px;
  color: #cc0000;
  margin-bottom: 30px;
  margin-top: 15px;
}

.sos p,
.alerta p {
  font-size: 25px;
  color: #cc0000;
  margin-bottom: 30px;
}

.mensagem,
.sosmensagem {
  margin-top: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.botaosos {
  background-color: #cc0000;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 12px;
}

.botaosos:hover {
  background-color: #a80000;
}

/* --perfil--- */

.mperfil {
  width: 100%;
  padding: 32px;
  max-width: 800px;
  margin: auto;
}

.perfil {
  background-color: #fcfcfc;
  padding: 24px;
  border-radius: 12px;
}

.tituloperfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #005A9C;
}

.botaoeditar {
  background: none;
  border: none;
  padding: 4px;
}

.botaoeditar img {
  width: 24px;
  height: 24px;
}


.perfil p {
  margin: 10px 0;
  font-size: 16px;
}





/* --media--- */
@media (max-width: 600px) {
  .hide-on-small {
    display: none;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .chatbotbotao {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  
 
  .imgbarra {
    flex-wrap: wrap; 
    height: 150px;  
  }

  .imgbarra img:nth-child(3),
  .imgbarra img:nth-child(4) {
    display: none;
  }

  .imgbarra img {
    flex: 1 1 50%; 
    height: 100%;
  }
}



@media (min-width: 601px) and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .chatbotbotao {
    width: 60px;
    height: 60px;
    font-size: 22px;
  }

  .imgbarra {
    flex-wrap: wrap;
    height: 180px;
  }

  .imgbarra img:nth-child(4) {
    display: none;
  }

  .imgbarra img {
    flex: 1 1 33.33%; 
    height: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .chatbotbotao {
    width: 70px;
    height: 70px;
    font-size: 24px;
  }

  .imgbarra {
    flex-wrap: nowrap;
    height: 200px;
  }

  .imgbarra img:nth-child(4) {
    display: none;
  }

  .imgbarra img {
    flex: 1 1 25%; 
    height: 100%;
  }
}


@media (min-width: 992px) and (max-width: 1299px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .chatbotbotao {
    width: 80px;
    height: 80px;
    font-size: 26px;
  }

  .imgbarra {
    flex-wrap: nowrap;
    height: 220px;
  }

  .imgbarra img {
    flex: 1 1 25%; 
    height: 100%;
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }

  .chatbotbotao {
    width: 90px;
    height: 90px;
    font-size: 28px;
  }

  .imgbarra {
    flex-wrap: nowrap;
    height: 250px;
  }

  .imgbarra img {
    flex: 1 1 25%; 
    height: 100%;
  }
}